// Custom styles.
// ref https://extremegtr.github.io/2017/09/27/Customize-NexT-Gemini-theme/
// 侧边栏头部
.site-meta {
  font-style:italic;
}

// code代码块
code {
    background: #F2F4F4;
    margin: 0 2px 0 2px;
}
